 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "PT Sans", Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Varela Round", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }


 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* Grid */

 .container{
   margin-right:auto;
   margin-left:auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
   width:100%;
 }

 .container:before,
 .container:after{
   content: " ";
   display: table;
 }

 .container:after{
   clear:both;
 }

.one-half, .one-third, .one-fourth{
   width:96%;
   float:left;
   position: relative;
   min-height: 1px;
   margin: 0 2% 20px;
}

@media screen and (min-width:768px) {
   .container {
      width: 750px;
   }
   .thebox{
      min-width:30%;
   }
   .one-half{
      width:46%;
   }
   .one-third{
      width:29.333333%;
   }
   .one-forth{
      width:21%;
   }
}


@media (min-width:992px) {
   .container {
      width: 970px;
   }
   
   .thebox{
      min-width:200px;
   }/**
   
   .left-nav{
      width:12%;
   }
   .content-nav{
      width:88%;
   }*/
}

@media (min-width: 1200px) {
   .container {
     width: 1170px;
   }/**
   
   .left-nav{
      width:9%;
   }
   .content-nav{
      width:91%;
   }*/
 }



 /* Header */
 header{
   color:#FFFFFF;
   background:#34495e;
   background-size:200px;
   }

 header nav{
   margin:0 0 0  0 ;
 }

 header div a img{
   margin:1em 0 0 0;
   padding:0;
 }

 header nav ul {
   display:inline;
   text-align:right;
   float:right;
   margin:1.5em 0 0 0;
 }

 header nav ul > li{
   list-style-type: none;
   display: inline-block;
   margin:0 15px 0 0;
   padding:0;
 }

 header nav ul > li.btn-outline{
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }

 header nav ul > li.btn-outline:hover{
   background:#FFFFFF;
   
 }

 header nav ul > li > a{
   color:#ffffff;
   text-decoration:none;
 }

 header nav ul> li.btn-outline:hover > a{
   color:#34495e;
 }


.sectionhero {
   background:#3498DB  url("../images/97.png") top center no-repeat, o;
   background: url("../images/97.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 50%);
   background-size:cover;
  
}

  .hero{
   color:#FFFFFF;
   text-align: center;
   display:block;
   position:relative;
 }

  .hero h1{
   font-size:48px;
   font-weight:normal;
   margin:95px 0 0;
 }

  .hero p{
   font-size:22px;
   line-height:26px;
   font-weight:100;
   margin:10px 0 40px;
 }
  .hero img{
   display:block;
   margin: -3em auto 0;
   
   position:relative;
   bottom: -6em;
   max-width: 100%;
   height: auto;
 }

/* Buttons */

.btn{
   border-radius: 4px;
   color:#FFFFFF;
   font-weight:700;
   text-decoration: none;
   padding: 10px 30px;
   background: #2ecc71;
   border:2px solid #2ecc71;
   box-shadow:0px 2px 0px 0px #22894e;
}



/* Benefits */
.divider{
   position:relative;
   margin:11em auto 10em;
   width:70%;
   opacity:.3;
}
.benefits{
   text-align: center;
   display: block;
   position: relative;
   margin : 0 0 4em 0;
}
 .benefits h2 {
   color:#3498DB;
 }



 .benefits i {
   color:#ffffff;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .thebox p{
   margin: 15px 0 10px 0;
   color:#ffffff;
 }
 .thebox h2 {
   color:#ffffff;
 }


 .benefits > p{
   margin: auto 0 auto 0;
 }
 .thebox{
   background-color:#6cb1df;
   border:1px solid #ffffff;
   box-shadow: 0px 4px 8px 0px rgba(0,0,0,.75);
   padding:20px 20px 10px;
 }


 .center .thebox{
   height:auto;
   opacity: .5;
   transition:all 300ms ease;
 }
 .center .slick-center .thebox{
   opacity:1;
   transform:scale(1.10);
}

  /* PRICING */
 .pricing {
   background:#3498DB  url("../images/price_back1.png") top center no-repeat, o;
   background: url("../images/price_back1.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #34495E 50%);
   background-size:cover;
   text-align: center;
   padding:4em 0;

 }
 .pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }



  .box {
   padding:0 15px 15px;
   background: #ebebeb;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 510px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   margin-top:25px;
   box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
   background:#ffffff;
 }
 .box h3 {
   font-family: "Varela Round", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #34495e;
   color:#ebebeb;
   margin:20px 0;
   left:0;
   right:0;
   top:0;
   text-align: center;
 }


  .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:20px 0 0 0;
   color:#3498DB;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }


.box div {
   background: #34495e;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   padding:10px 0;
   margin:0 -15px 40px;
}

.box hr{
   width: 75%;

}


  .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

/* Call to Action */
.CTA{
   margin: 10em 0;
   text-align:center;
}

.CTA h2{
   color:#3498DB;
}

.CTA p{
   font-weight:100;
}

.CTA div{
   margin-bottom:2em;
}

.CTA a{
   vertical-align:center;
   position:relative;
}




 /* Footer */
footer{
   background:#34495e;
   position:relative;
   color:#ffffff;
   margin:3em 0 0 0;
   z-index: 0;
   overflow: hidden;
   height:100px;
}
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
   padding:2em 0 0 0;
 }
footer nav ul li{
   list-style-type:none;
   display:inline;
}
footer nav ul a{
   text-decoration:none;
   color:#ffffff;
}
footer img{
   padding:1.5em 0;
   margin:0 0 0 50px;
   position:relative;
   display:block;
}



/*----------------DASH BOARD------------------*/
.dashboard{
   background:#F7F7F7;
}

.dash-nav{
   position:fixed;
   background-color:transparent;
   width:100%;
}

.top-nav{
   padding:0 0 15px 0;
   width:100%;
   background-color:#34495E;
   margin:0;
   box-shadow: 0px 4px 8px 0px rgba(0,0,0,.75);
   z-index:1;
   position:relative;
}
.site-logo{
   margin: 1em 0 0 -.5em;
   transform:scale(.75);
}

.search-bar {
   vertical-align: 100%;
   padding:2px 300px 2px 30px;
   border-radius:4px;
   background:#ffffff;
   color:#464646;
   border:2px solid #d7d7d7;
   display:none;
}



.top-nav a{
   position:relative;
   display:inline-block;
}
.settings {
   float:right;
   padding:20px 60px 12px 60px;
   color:#ffffff;
   text-decoration:none;
   border-left:2px solid #5F81A3;
   background:#5F81A3;
   background-image: linear-gradient(206deg,#34495e 0%, #5F81A3 94%);
}
.settings:hover{
   background-image: linear-gradient(206deg,#5F81A3 100%, #34495e 0%);
}

.settings img{
   display:inline-block;
   height:50px;
   width:50px;
}
.settings p{
   display:inline-block;
   vertical-align:100%;
   margin:0 0 0 3em;
}

/*
@media(max-width:460px){
   .search-bar{
      padding:0;
      background-color:transparent;
      border:none;
      color:#ffffff;
      float:left;
      margin:30px 60px 0;
   }
   .settings p{
      display:none;
   }
   .settings{
      padding:20px 10px 12px 10px;
   }
}*/
@media(max-width:992px){

   .settings{
      padding:20px 10px 12px 10px;
   }
}

.left-nav{
   margin:0;
   height:100%;
   color:#FFFFFF;
   background:#34495E;
   background-image: linear-gradient(206deg,#5F81A3 0%, #34495e 94%);
   float:left;
   height:100vh;
   width:140px;
   display:block;
   border-right:2px solid #34495E;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav ul{
   text-align:left;
   margin:0 0 3em 0;
   font-size:14px ;
   padding:0 0 0 1.3em;

}
.left-nav img{
   margin:0 4px 0 0;
}
.left-nav ul li {
   margin:1em auto 0;

   display:inline-flex;
}
.left-nav ul li a i{
   margin-right:8px;
}
.left-nav p{
   margin:4em 0 0  1em;
   padding:0;
   font-weight:lighter;
   text-transform: uppercase;
   font-size:12px;
   color:#e2e2e2;
}

.content-nav{
   background-color: ;
   height:50px;
   float:right;
   margin:0;
   padding: 0 0 5px 0;
   position:absolute;
   z-index: -1;
   width:100%;
   margin:0 0 0 140px;
}
.content-nav a{
   color:#464646;
   font-size:14px;
}
.content-nav .filters li a i{
   margin-right:8px;
   font-size:14px;
}
.content-nav .filters{
   text-align:left;
   float:left;
   margin:1.25em 0 1em;
}
.content-nav .filters li a{
   padding: 5px 15px 5px 15px;
}
.content-nav .filters li a:hover{
   background:#5e5e5e;
   padding: 5px 15px 5px 15px;
   border-radius:4px;
   color:#ffffff;
}
.menu .btn{
   color:#ffffff;
   margin:10px 200px 20px 0;
   padding:5px 20px 5px 20px;
}
.menu .btn:hover{
   background:#35e37f;
   border:2px solid #35e37f;;
}
.all-item a{
   color:#FFFFFF;
   background:#464646;
   border-radius: 4px;
}

/* CONTENT */
.content > .container{
   width:98%;
}
 .content {
   padding:6em 2% 1.5em;
   float:left;
   margin:0 0 0 9em;
   position:relative;
   z-index:-1;
 }
 .content .header {
   margin:60px auto 20px;
 }
 .content .header h1 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #3498DB;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:75%;
   max-width:275px;
   margin:0 1% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

  .item-box > img {
   position:absolute;
   height:100%;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #3498DB;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }


 /* Hamburger */
 .left-nav.open {
   display:block;
   width:140px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   float:left;
   top:20px;
 }
 /*
 .hamburger.open{
      background:transparent;
   }*/

@media screen and (max-width:460px){
   .top-nav .site-logo{
      display:none;
   }
   .top-nav {
      box-shadow: none;
      padding:0;
   }
   .top-nav .settings p{
      display:none;
   }
   .top-nav .settings {
      background:transparent;
      border:none;
      padding:5px 20px 0 0;
   }
   .content-nav{
      margin:3em 0 0 -6em;
      padding:0;

   }
   .content-nav .filters{
      display:none;
   }

   .content-nav .menu{
      position:relative;

   }

   .content{
      margin:3em auto;
      padding:0;

      width:400px;
      max-width:115%;
      float:none;
}
   .content-item{
      width:80%;
      margin:0 auto;
   }

   .hamburger{
   top:0;
   background:#34495e;
   margin:5px 0 0 15px;
   }
}

@media screen and (max-width:768px){
   .top-nav .site-logo{
      display:none;
   }
   .top-nav {
      box-shadow: none;
      padding:0;
   }
   .top-nav .settings p{
      display:none;
   }
   .top-nav .settings {
      background:transparent;
      border:none;
      padding:5px 20px 0 0;
   }
   .content-nav{
      padding:0;
      margin-left:30%;
   }
   .content-nav .filters{
      display:none;
   }

   .content-nav .menu{
      float:left;
      position:relative;

   }


   .hamburger{
   top:0;
   background:#34495e;
   margin:5px 0 0 15px;
   }
}

@media screen and (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:140px;
     color:#FFFFFF;
     background: #34495E;
     background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }